.u-section-1 {
  background-image: url("images/dfgrey-min.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 833px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 678px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    background-position: 83.75% 100%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1004px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1434px;
  }
}