<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Тут будет показан новый сертификат</title>
</head>

<body>
    <h1>
        Сертификат
    </h1>

    <h2> Номер Сертификата №{{ cert_num }} </h2>
    <h2> Номинал {{ nominal }} </h2>
    <h2> 1 Держатель {{ user1 }} </h2>
    <h2> 2 Держатель {{ user2 }} </h2>
    <h2> 3 Держатель {{ user3 }} </h2>
    <h2> Дата выпуска: {{ publish_date }} </h2>
    <h2> Ссылка на сертификат {{ url }} </h2>

</body>

</html>